
<h1>{{title}}</h1>
<div class="container">


  <mat-form-field>
    <mat-label>Input & change events</mat-label>
    <input matInput [matDatepicker]="picker"
            (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


<input type="time" id="appt" name="appt" #time
       min="09:00" max="18:00" required>
       <br>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with checkbox" #newTodo>
    <button (click)="addTodo(newTodo.value,time.value); newTodo.value=''"type="button" class="btn btn-warning">Warning</button>
  </div>


<br>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">First and last name</span>
    </div>
    <input type="text" class="form-control">
    <input type="text" class="form-control">
  </div>

  <br>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody *ngFor="let todo of todos">
      <tr>
        <th scope="row">1</th>
        <td>{{todo.label}}</td>
        <td>{{todo.priority}}</td>
        <td>{{todo.done}}</td>
        <td><button type="button" class="btn btn-outline-success">Edit</button></td>
        <td><button type="button" (click)="deleteTodo(todo)" class="btn btn-outline-danger">Delete</button></td>
      </tr>

    </tbody>
  </table>












</div>

